<h2>Delete account</h2>
<p>Deleting your account is permanent. Sorry to see you go, if you have any feedback you can contact us.</p>

<div class="alert alert-warning" role="alert">Deleting this account will permanently remove all posts and topics created by you.</div>

<%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger ' %>
