<script>
  $(document).ready(function() {
    var link = window.location.href;
    if (link.match(/#+\w+/) != null) {
      var tabId = link.match(/#+\w+/)[0];
      $("a[href=" + tabId + "]").click();
    }
  });
</script>

<div class="row">
  <div class="col-md-2 col-md-offset-1"> <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left">
      <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
      <li><a href="#password" data-toggle="tab">Password</a></li>
      <li><a href="#messages" data-toggle="tab">Notifications</a></li>
      <li><a href="#settings" data-toggle="tab">Delete account</a></li>
    </ul>
  </div>

  <div class="col-xs-8">
    <div id="flash_messages_profile">
      <%= render partial: "shared/flash_messages" %>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="profile">
        <%= render partial: "profile" %>
      </div>
      <div class="tab-pane" id="password">
        <%= render partial: "password" %>
      </div>
      <div class="tab-pane" id="messages">Messages Tab.</div>
      <div class="tab-pane" id="settings">
        <%= render partial: "delete" %>
      </div>
    </div>
  </div>
</div>

