<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Posts</h3>
    </div>
    <div class="panel-body">
      <table class="table table-admin">
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td class="col-md-11"><%= post.content.truncate(120) %></td>
              <td class="col-md-1"><%= link_to "Edit", "#" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "More users...", admin_categories_path %>
    </div>
  </div>
</div>
