<% unless @message_threads.present? %>
  <span class="text-warning text-center">Messages are empty.</span>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-6">Topic</th>
        <th class="col-md-2">User</th>
        <th class="col-md-2">Messages</th>
        <th class="col-md-2">Last Activity</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "messages_tbody" %>
    </tbody>
  </table>
<% end %>
