<div class="row">
  <% @notifications.each do |notifiaction| %>
    <div class="col-md-12" id="notification-<%= notifiaction.id %>">
      <%= notifiaction.name %>
      <%= notifiaction.id %>
      <hr>
    </div>
  <% end %>
</div>
