<% unless @notifications_count > 0 %>
  $("#notifications-list").html("<p class='empty-notifications'><span class='text-warning'>You dont have any notifiactions yet!</span></p>")
<% else %>
  <% if params[:page] && params[:page].to_i > 1 %>
    $("#notifications-list").append("<%= j(render partial: 'list', locals: { notifications: @notifications }) %>");
    <% if @notifications.next_page %>
      $("#notifications-list .pagination").replaceWith('<%= j will_paginate(@notifications) %>');
    <% else %>
      $("#notifications-list .pagination").remove();
    <% end %>
  <% else %>
    $("#notifications-list").html("<%= j(render partial: 'list', locals: { notifications: @notifications }) %>");
  <% end %>
<% end %>

infinity_scroll_notifiaction("#notifications-pagination");
