<div class="row">
  <div class="col-md-1">
    <%= image_tag post.user.avatar(:small), class: 'round-image' %>
  </div>
  <div class="col-md-10 topic-user-content">
    <%= link_to post.topic.name, topic_path(post.topic) %>
    <br>
    <strong><%= post.topic.category.name %></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><%= post.content %></p>
  </div>
</div>
