<div class="row">
  <div class="col-md-1">
    <%= image_tag topic.creator.avatar(:small), class: 'round-image' %>
  </div>
  <div class="col-md-10 topic-user-content">
    <%= link_to topic.name, topic_path(topic) %>
    <br>
    <strong><%= topic.category.name %></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><%= topic.posts.first.content %></p>
  </div>
</div>
