<% unless @topics.present? %>
  <p class="category-info"><span class="text-warning">There are no topics in this category. Maybe try another one!</span></p>
<% else %>
  <table class="table table-hover" id="topics_table">
    <thead>
      <tr>
        <th>Topic</th>
        <th>Category</th>
        <th>Users</th>
        <th>Posts</th>
        <th>Views</th>
        <th>Activity</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'home/topics_list', locals: { topics: @topics } %>
    </tbody>
    </tbody>
  </table>
<% end %>
