<%= link_to "New Topic", new_topic_path, class: 'btn btn-success pull-right', id: 'start_new_topic', remote: true if user_signed_in? %>

<div id="topics_list">
  <%= render partial: "topics_content", locals: { topics: @topics } %>
</div>

<%= will_paginate @topics %>
<p class="text-center" id="loading_gif"><%= image_tag "loading.gif", size: "50x50" %></p>


<div class="modal fade" id="modal">
</div>
