#page-content {
  margin-top: 100px;
}

.td_link {
  cursor: pointer;
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}

.intro-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}

.about-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee;
}

.services-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}

.contact-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee;
}

.modal-lg {
  width: 1100px;
}

td {
  vertical-align: middle !important;
}

/* MAIN PAGE */

#main-pagination {
  .pagination {
    width: 50px;
    margin: 0 auto !important;
    display: block !important;
    img {
      width: 50px;
    }
    // hide pagination
    span, a, em {
      display: none;
    }
  }
}

#category-select {
  display: inline !important;
  width: auto;
}

#topics_list {
  p {
    img {
      width: 70px;
    }
  }
}

ul.users-list {
  list-style-type: none;
  display: inline;
  padding: 0px;
  li {
    width: 47px;
  }
}

.creator {
  border: 1px solid blue;
}

.flash-messages {
  margin-top: 12px;
}

/* POST */

.edited-post-notice {
  margin-top: 15px;
  margin-bottom: 0px;
  color: #777;
  font-style: italic;
}

.single-post {
  border-top: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* PROFILE */

#image_preview {
  display: none;
  padding: 0px 15px 0px 15px;
}

#image_preview_image {
  max-width: 300px;
}

.profile-page {
  margin-top: 15px;
}

.tab-content {
  h2 {
    margin-top: 10px;
  }
}

#avatar_section {
  margin-left: 0px;
  .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* SEARCH */

.search {
  .facets {
    ul {
      list-style: none;
      padding-left: 10px;
    }
  }
  #search-results {
    .seaching-phrase {
      background-color: yellow;
    }
  }
}

